
 body{
  margin: 20px;
  text-align: center;
  background-color: #e4efe7;
  font-family: 'Mukta Malar', sans-serif;
}
h1{
  color: #66bfbf;
  margin-top : 0px;
  font-size: 80px;
  font-family:'Niconne', cursive;
}
h2{
  color: #66bfbf;
    font-family: 'Odibee Sans', cursive;
    font-size: 30px;
    padding-bottom: 10px;
}
h3{
  color: #66bfbf;
    font-family: 'Odibee Sans', cursive;
}
p{
  line-height: 2;
}
 hr{
  height: 0;
  border: dotted;
  border-bottom: 0;
  width: 6%;
  color: #e4efe7
}
.profile{

  width: 80%;
  margin: 100px 200px 100px 200px;
  text-align: left;
}
/* .my{
  background-color: #e4efe7;
} */
.topcont{
  background-color:  #e4efe7;
  padding-top: 100px;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
}
.middle-container{
    margin-top: 100px;
}
.tt{
  width: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}
.wd{
  width: 25%;
  border-radius: 50%;
  float: right;
  margin-left: 30px;
}
.bottom-container{
   margin-top: 100px;
   background-color: #66bfbf;
   padding-top: 50px;
   padding-bottom: 20px;
   margin-left: 0;
   margin-right: 0;
}
.skills{
  margin: 100px auto auto auto ;
  width: 60%;
  /* text-align: center; */
}
.intro{
  width: 35%;
  margin: 20px auto auto auto;
}
.intro1{
  margin: 100px auto auto auto;
  width: 35%;
}
a{
  color: #11999e;
  font-family: 'Odibee Sans', cursive;
  margin-left: 5px;
  margin-right: 20px;
  text-decoration: none;
}
a:hover{
  color: #e4bad4;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family:  'Odibee Sans', cursive;
  color: #ffffff;
  font-size: 20px;
  margin-top: 100px;
  margin-left: auto;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #eba83a;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.copy{
  color: #eaf6f6;
  font-size: 75%;
  padding-top: 20px;
}
.pic{
  width: 300px;
          height: 300px;
          background-size: cover;
          border: 6px solid #333;
          margin: 20px 90px 20px 20px;
          float: left;
}
.contact-me{
  margin-top: 200px;
  margin-left: 300px;
    text-align: center;
    width: 50%;
}
